<div class="card">
  <% if recipe.fields[:photo] %>
    <img
      src="<%= recipe.fields[:photo].url %>"
      class="card-img-top"
    />
  <% end %>

  <div class="card-body">
    <h5 class="card-title">
      <%= recipe.fields[:title] %>
    </h5>

    <% if show_view_recipe_button %>
      <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">
        View Recipe
      </a>
    <% end %>
  </div>
</div>
