<div class="row">
  <div class="col-md-4">
    <%= erb :'partials/recipe_card', locals: { recipe: recipe, show_view_recipe_button: false } %>
  </div>

  <div class="col-md-8">
    <p>
      <% if recipe.fields[:description] %>
        <%= recipe.fields[:description] %>
      <% else %>
        <p>No Description</p>
      <% end %>
    </p>

    <hr>

    <div>
      <h5>Tags</h5>

      <% if recipe.fields[:tags] %>
        <% recipe.fields[:tags].each do |tag| %>
          <span class="badge badge-info">
            <%= tag.name %>
          </span>
        <% end %>
      <% else %>
        <p>No Tags</p>
      <% end %>
    </div>

    <hr>

    <div>
      <h5>Chef</h5>

      <% if recipe.fields[:chef] %>
        <p>
          <%= recipe.fields[:chef].name %>
        </p>
      <% else %>
        <p>Chef Unassigned</p>
      <% end %>
    </div>
  </div>
</div>
