<div class="row">
  <% if recipes.length > 0 %>
    <% recipes.each do |recipe| %>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <%= erb :'partials/recipe_card', locals: {
          recipe: recipe,
          show_view_recipe_button: true
        } %>
      </div>
    <% end %>
  <% else %>
    <p class="text-center">
      Stay tuned, recipes do be cookin'!
    </p>
  <% end %>
</div>
